@model IEnumerable<Web_Dev_Proj_Gym.Models.BranchManager>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BMUserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BMPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BMName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BMUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BMPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BMName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
